<div class="row">
    <div (click)="showMovie(pelicula.id)" class="col-sm-12 col-md-4 col-lg-3 mb-3" *ngFor="let pelicula of peliculas">
        <div class="card">
            <img [src]="pelicula.poster_path | poster" class="card-img-top" alt="{{ pelicula.title }}">
            <div class="card-body">
            <h5 class="card-title">{{pelicula.title}}</h5>
            <p class="card-text">{{ pelicula.overview | slice:0:60 }}...</p>
            <div class="row">
                <div class="col-10 col-md-9">
                    <star-rating value="{{ pelicula.vote_average }}" totalstars="10" checkedcolor="yellow" uncheckedcolor="gray" size="14px" readonly="true"></star-rating>
                </div>
                <div class="col-2 col-md-3">
                    <p class="fs-6">{{ pelicula.vote_average | number:'1.1-2' }}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



