/* You can add global styles to this file, and also import other style files */

@import '~swiper/swiper-bundle.min.css';
.background-light {
    background-color: #edf2f4;
}
.background-dark {
    background-color: #2b2d42
}
.background-gradient {
    background: linear-gradient(0deg, #03071e , rgba(255, 255, 255, 0));
}
.slideshow  {
    height: 300px;
    position: relative;
}
.slideshow-body {
    width: 100%;
    position: absolute;
    padding: 16px;
    bottom: 0;
}
.slideshow-content {
    width: 100%;
}
.card{
    background-color: #fff;
}
.swiper-pagination-bullet {
    background: #fff;
}
.swiper-container {
    margin-bottom: 1rem !important;
}